@font-face {
  font-family: "THICCCBOI-medium";
  src: url("../src/fonts/THICCCBOI-Medium.ttf");
  src: url("../src/fonts/THICCCBOI-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "THICCCBOI-bold";
  src: url("../src/fonts/THICCCBOI-Bold.ttf");
  src: url("../src/fonts/THICCCBOI-ExtraBold.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "THICCCBOI-semiBold";
  src: url("../src/fonts/THICCCBOI-SemiBold.ttf");
  src: url("../src/fonts/THICCCBOI-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "THICCCBOI-regular";
  src: url("../src/fonts/THICCCBOI-Regular.ttf");
  src: url("../src/fonts/THICCCBOI-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter-medium";
  src: url("../src/fonts/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DMSans-bold";
  src: url("../src/fonts/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #181818;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}
